<div *ngIf="!isUserActivationShown" class="dynamic-form registration-dialog-box" [formGroup]="form">
  <h2>Створіть свій профіль</h2>
  <p-inputMask
    mask="(999) 999-9999"
    placeholder="Телефон"
    [formControl]="form | getControl : registrationForm.PHONE"
  ></p-inputMask>
  <input
    type="text"
    placeholder="Повне Ім'я"
    pInputText
    [formControl]="form | getControl : registrationForm.FULL_NAME"
  >
  <input
    type="email"
    placeholder="Ел. Пошта"
    pInputText
    [formControl]="form | getControl : registrationForm.EMAIL"
  >
  <input
    type="password"
    placeholder="Пароль"
    pInputText
    [formControl]="form | getControl : registrationForm.PASSWORD"
  >
  <p-selectButton
    [options]="roleOptions"
    [formControl]="form | getControl : registrationForm.ROLE"
    styleClass="form-select-button"
    optionLabel="name"
    optionValue="value"
  ></p-selectButton>
  <button
    pButton
    pRipple
    type="button"
    label="Зареєструватись"
    class="p-button-rounded regular-button"
    (click)="registration()"
  ></button>
</div>
<div *ngIf="isUserActivationShown" class="dynamic-form">
  <h2>Введіть код активації</h2>
  <p-inputMask
    mask="999-999"
    placeholder="Код Активації"
    [formControl]="activationControl"
  ></p-inputMask>
  <button
    pButton
    pRipple
    type="button"
    label="Активувати Користувача"
    class="p-button-rounded regular-button"
    (click)="activate()"
  ></button>
</div>
