<div class="dynamic-form login-dialog-box">
  <h2 [ngSwitch]="currentStep">
    <ng-container *ngSwitchCase="forgotPasswordStep.PHONE_SPECIFICATION">Введіть свій телефон</ng-container>
    <ng-container *ngSwitchCase="forgotPasswordStep.VERIFICATION_CODE_SPECIFICATION">Введіть код</ng-container>
    <ng-container *ngSwitchCase="forgotPasswordStep.PASSWORD_SPECIFICATION">Введіть новий пароль</ng-container>
  </h2>
  <app-dynamic-alert [key]="pageKey"></app-dynamic-alert>
  <ng-container [ngSwitch]="currentStep">
    <ng-container *ngSwitchCase="forgotPasswordStep.PHONE_SPECIFICATION">
      <p-inputMask
        mask="(999) 999-9999"
        placeholder="Телефон"
        [formControl]="form | getControl : forgotPasswordForm.PHONE"
      ></p-inputMask>
      <button
        pButton
        pRipple
        type="button"
        label="Надіслати код активації"
        class="p-button-rounded regular-button"
        (click)="sendVerificationCode()"
        [disabled]="(form | getControl : forgotPasswordForm.PHONE).invalid"
      ></button>
    </ng-container>
    <ng-container *ngSwitchCase="forgotPasswordStep.VERIFICATION_CODE_SPECIFICATION">
      <p-inputMask
        mask="999-999"
        placeholder="Код Активації"
        [formControl]="form | getControl : forgotPasswordForm.CODE"
      ></p-inputMask>
      <button
        pButton
        pRipple
        type="button"
        label="Перевірити код активації"
        class="p-button-rounded regular-button"
        (click)="checkVerificationCode()"
        [disabled]="(form | getControl : forgotPasswordForm.CODE).invalid"
      ></button>
    </ng-container>
    <ng-container *ngSwitchCase="forgotPasswordStep.PASSWORD_SPECIFICATION">
      <input
        [formControl]="form | getControl : forgotPasswordForm.PASSWORD"
        type="password"
        pInputText
      >
      <button
        pButton
        pRipple
        type="button"
        label="Змінити пароль"
        class="p-button-rounded regular-button"
        (click)="resetPassword()"
        [disabled]="(form | getControl : forgotPasswordForm.PASSWORD).invalid"
      ></button>
    </ng-container>
  </ng-container>
</div>
