<p-toolbar [style]="{ marginBottom: '1rem'}">
  <ng-template pTemplate="left">
  </ng-template>

  <ng-template pTemplate="right">
  </ng-template>
</p-toolbar>

<p-table
  [value]="page?.content || []"
  [lazy]="true"
  [paginator]="true"
  [rows]="page?.size || 10"
  [totalRecords]="page?.totalElements || 0"
  [loading]="loading"
  (onLazyLoad)="loadOrderRequests($event)"
  responsiveLayout="scroll"
  dataKey="id"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Продукт</th>
      <th>Кількість</th>
      <th>Ціна</th>
      <th>Ставка</th>
      <th>Розмір від</th>
      <th>Дата відправки</th>
      <th>Дата кінця лоту</th>
      <th>Остання ставка</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lot>
    <tr>
      <td></td>
      <td>{{lot.productName.name}}</td>
      <td>{{lot.quantity}}кг</td>
      <td>{{lot.unitPrice | currency : 'UAH'}}</td>
      <td>{{lot.unitPriceUpdate | currency : 'UAH'}}</td>
      <td>{{lot.sizeFrom}}см</td>
      <td>{{lot.loadingDate | date : 'dd/MM/yyyy, h:mm'}}</td>
      <td>{{lot.auctionEndDate | date : 'dd/MM/yyyy, h:mm'}}</td>
      <td>
        <ng-container *ngIf="lot.priceUpdateHistory | lastPriceUpdater as lastPriceUpdateHistory; else noRate">
          {{lastPriceUpdateHistory.updater.fullName}}
        </ng-container>
        <ng-template #noRate>Немає жодної ставки</ng-template>
      </td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-chevron-down"
          class="p-button-rounded p-button-text p-button-plain"
          pTooltip="Відмінити ставку"
          tooltipPosition="top"
          (click)="rejectUpdateUnitPrice(lot)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-eye"
          class="p-button-rounded p-button-text p-button-plain"
          pTooltip="Перевірити"
          tooltipPosition="top"
          (click)="reviewOrderRequest(lot)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
