<div class="dynamic-form internal" [formGroup]="form">
  <p-dropdown
    [options]="(productNames$ | async) || []"
    [virtualScroll]="true"
    [itemSize]="31"
    [filter]="false"
    appendTo="body"
    formControlName="productName"
    placeholder="Виберіть Сорт"
  ></p-dropdown>
  <div class="p-inputgroup">
    <p-inputNumber formControlName="quantity" mode="decimal" placeholder="Кількість"></p-inputNumber>
    <span class="p-inputgroup-addon">кг</span>
  </div>
  <div class="p-inputgroup">
    <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="2" placeholder="Розмір" formControlName="size"
                   mode="decimal"></p-inputNumber>
    <span class="p-inputgroup-addon">см</span>
  </div>
  <button
    pButton
    [label]="uploadLabel"
    [icon]="isUpdateWindow ? 'pi pi-upload' : 'pi pi-plus'"
    (click)="imageUpload.click()"
    class="p-button-raised p-button-text p-button-plain input"
  ></button>
  <input #imageUpload type="file" accept="image/*" style="display: none" (change)="onImgUploaded($event)">

  <p-image
    *ngIf="imgSrc"
    [src]="imgSrc"
    [preview]="true"
    [style]="{marginTop: '16px'}"
    appendTo="body"
    alt="Зображення"
    imageClass="image-preview"
  ></p-image>

  <div class="button-block">
    <button pButton pRipple type="button" label="Закрити" class="p-button-raised p-button-text p-button-plain"
            (click)="onClose()"></button>
    <button pButton pRipple type="button" label="Зберегти" class="p-button-raised p-button-text p-button-success"
            [disabled]="form.invalid" (click)="onSave()"></button>
  </div>
</div>
